USE [master]
GO
/****** Object:  Database [QLNC]    Script Date: 12/24/2016 6:34:10 PM ******/
CREATE DATABASE [QLNC] ON  PRIMARY 
( NAME = N'QLNC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLNC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLNC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNC]
GO
/****** Object:  Table [dbo].[LoaiNhacCu]    Script Date: 12/24/2016 6:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhacCu](
	[MaLoaiNC] [nvarchar](4) NOT NULL,
	[TenLoaiNC] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiNhacCu] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhacCu]    Script Date: 12/24/2016 6:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhacCu](
	[MaNC] [nvarchar](4) NOT NULL,
	[TenNC] [nvarchar](50) NULL,
	[NhanHieu] [nvarchar](50) NULL,
	[NamSanXuat] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[MaLoaiNC] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_NhacCu] PRIMARY KEY CLUSTERED 
(
	[MaNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 12/24/2016 6:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaSV] [nvarchar](7) NOT NULL,
	[MaNC] [nvarchar](4) NOT NULL,
	[NgayMuon] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 12/24/2016 6:34:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](7) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](12) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[LoaiNhacCu] ([MaLoaiNC], [TenLoaiNC]) VALUES (N'1', N'Dây')
INSERT [dbo].[LoaiNhacCu] ([MaLoaiNC], [TenLoaiNC]) VALUES (N'2', N'Đồng')
INSERT [dbo].[LoaiNhacCu] ([MaLoaiNC], [TenLoaiNC]) VALUES (N'3', N'Gỗ')
INSERT [dbo].[NhacCu] ([MaNC], [TenNC], [NhanHieu], [NamSanXuat], [DonGia], [MaLoaiNC]) VALUES (N'FH01', N'Cor', N'Suzuki', N'1950', 5000, N'2')
INSERT [dbo].[NhacCu] ([MaNC], [TenNC], [NhanHieu], [NamSanXuat], [DonGia], [MaLoaiNC]) VALUES (N'OB05', N'Oboe', N'Yamaha', N'1900', 10000, N'3')
INSERT [dbo].[NhacCu] ([MaNC], [TenNC], [NhanHieu], [NamSanXuat], [DonGia], [MaLoaiNC]) VALUES (N'TP07', N'Timpani', N'Suzuki', N'1800', 20000, N'4')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [DienThoai], [DiaChi], [NgaySinh]) VALUES (N'0000001', N'Quang Bình', N'098767677', N'1 Lê Duẩn', CAST(N'1994-09-27 00:00:00.000' AS DateTime))
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [DienThoai], [DiaChi], [NgaySinh]) VALUES (N'0000002', N'Phước Toàn', N'097777777', N'4 Lê Duẩn', CAST(N'1992-06-22 00:00:00.000' AS DateTime))
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [DienThoai], [DiaChi], [NgaySinh]) VALUES (N'0000003', N'Thanh Thuy', N'0909090908', N'3 Le Duan', CAST(N'2016-12-22 18:36:44.000' AS DateTime))
ALTER TABLE [dbo].[NhacCu]  WITH CHECK ADD  CONSTRAINT [FK_NhacCu_LoaiNhacCu] FOREIGN KEY([MaLoaiNC])
REFERENCES [dbo].[LoaiNhacCu] ([MaLoaiNC])
GO
ALTER TABLE [dbo].[NhacCu] CHECK CONSTRAINT [FK_NhacCu_LoaiNhacCu]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_NhacCu] FOREIGN KEY([MaNC])
REFERENCES [dbo].[NhacCu] ([MaNC])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_NhacCu]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_SinhVien]
GO
USE [master]
GO
